// Place all the styles related to the admin/Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.number-col {
  width: 5%;
}

.new-button {
  padding-bottom: 10px;
}

.link {
  text-decoration: none;
  color: black;
}